.container-all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #000; 
}


.forms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CA2323; 
    width: 720px;
    height: 550px; 
    max-width: 800px;
    max-height: 750px;
    padding: 20px; 
    border-radius: 30px;
    box-sizing: border-box;
}

.forms-title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.forms-question {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;

}

.forms-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 10px;
}

.forms-option {
    background-color: #ff3b3f; 
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.forms-option:hover {
    background-color: #ff6565; 
}

.forms-button {
    background-color: white;
    color: #ff3b3f;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.forms-button:hover {
    background-color: #ddd;
}

.option {
    background-color: #9f1717;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
}

.option:hover {
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #0bfc03;
    font-weight: bold;
}

.wrong {
    background-color: #9f1717;
    opacity: 0.4;
}

.hide {
    display: none;
}