.model__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
  }

  #category > h2 {
    padding-bottom: 10px;
  }

  #category > p {
    padding-bottom: 10px;
  }

  button {
    margin-right: 15px;
  }
  
  .model__container > p {
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 30px;
  }
  
  .model__button {
    margin-bottom: 30px;
    margin-right: 45px;
  }
  
  .model__button > button:first-child {
    margin-right: 100px;
  }
  
  .container__img {
    display: flex;
    flex-direction: column;
  }
  
  .container__img {
    display: flex;
    justify-content: center;
  }
  
  .img__cadeado {
    width: 350px;
    align-items: center;
    margin-left: 250px;
    margin-top: 35px;
  }