* {
  padding: 0;
  margin: 0;
  font-family: "Eurosoft W03 Regular", sans-serif;
  color: #fff;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #1c1c1c;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  cursor: pointer;
  color: #9F1717;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  background: #fff;
  border-radius: 3rem;
  border: none;
  transition: .4s;
  opacity: 1;
}

button:hover {
  opacity: 0.8;
}

@font-face {
  font-family: "Eurosoft W03 Regular";
  src: url('./assets/fonts/Eurosoft\ W03\ Regular.ttf');
}